*,
 *::before,
 *::after {
    box-sizing: border-box;
 }
 body {
    font-size: 16px;
    height: 100vh;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
 }

.left-col {
    background: url("https://images.unsplash.com/photo-1621789100030-1d4e00ffd9f7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-position: center;

}
.container {
    width: 800px;
    margin: 0 auto;
}
.hero {
    background-image: url("https://images.unsplash.com/photo-1533038590840-1cde6e668a91?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=80");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 100%;
    position: relative;
}
h1 {
    font-size: 3.8rem;
    width: 50%;
}
.left-col {
    position: absolute;
    top: 10em;
    left: 2rem;
}
img {
    width: 100%;
}
.images {
    height: 300px;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
}
.images:hover {
    opacity: 1;
}
h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
}
.right-col {
    padding: 2rem 0 1rem;
    /* margin-bottom: 1rem ; */
    color: #fff;
    background: #221F26;
    text-align: center;
}
.Gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 2rem;
}
